@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
.image{
    width: 100%;
    height: 100%;
}
.whyus{
    text-align: center;
    font-weight: bold;
    padding: 2rem;
    font-size: 3rem;
    text-decoration: underline;
    font-family: 'Merriweather Sans', sans-serif;
    color: #438C96;
}
.image-logo{
    width: 50%;
    height: 70%;
}